form{
    max-width:650px;
    margin:40px auto;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

label{
    display:block;
    margin-top:18px;
    margin-bottom:6px;
    font-weight:600;
}

input,
textarea,
select{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    transition:.3s;
}

input:focus,
textarea:focus,
select:focus{
    outline:none;
    border-color:#457b9d;
    box-shadow:0 0 0 4px rgba(69,123,157,.2);
}

button{
    margin-top:25px;
    background:#457b9d;
    color:white;
    border:none;
    padding:13px;
    width:100%;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
}

button:hover{
    background:#1d3557;
}