<div class="form-box">
  <h2>
    @if (editingId !== null) {
    Editar livro
    } @else {
    Cadastro de livro
    }
  </h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="field">
      <label for="titulo">Título</label>
      <input id="titulo" type="text" formControlName="titulo" />

      @if (form.controls.titulo.touched && form.controls.titulo.invalid) {
      <small>Informe um título com no mínimo 3 caracteres.</small>
      }
    </div>

    <div class="field">
      <label for="autor">Autor</label>
      <input id="autor" type="text" formControlName="autor" />

      @if (form.controls.autor.touched && form.controls.autor.invalid) {
      <small>Informe um autor com no mínimo 3 caracteres.</small>
      }
    </div>

    <div class="field">
      <label for="genero">Gênero</label>
      <input id="genero" type="text" formControlName="genero" />

      @if (form.controls.genero.touched && form.controls.genero.invalid) {
      <small>O gênero é obrigatório.</small>
      }
    </div>

    <div class="field">
      <label for="resumo">Resumo</label>
      <textarea id="resumo" formControlName="resumo"></textarea>
      <span class="character-count">
        {{ form.controls.resumo.value.length }} caracteres
      </span>

      @if (form.controls.resumo.touched && form.controls.resumo.invalid) {
      <small>Informe um resumo com no mínimo 10 caracteres.</small>
      }
    </div>

    <button type="submit">
      @if (editingId !== null) {
      Atualizar
      } @else {
      Salvar
      }
    </button>
  </form>
</div>
